:host {
  display: flex;
  height: 100%;
  justify-content: center;
}

.clock-container {
  display: flex;
  align-items: center;
}

.clock-frame {
  background-color: rgba(rgb(36, 31, 31), 0.95);
  border-radius: 60px;
  padding: 2rem 5rem;
}

.clock {
  font-size: 15rem;
}
