.container {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 100%;
  grid-template-rows: 25% 50% 25%;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "clockHeader"
    "clockBody"
    "clockFooter";
}

.header-div {
  grid-area: clockHeader;
}

.clock {
  grid-area: clockBody;
  justify-self: center;
  align-self: center;
  font-size: 15rem;
}

.footer-img {
  grid-area: clockFooter;
  justify-self: center;
  padding: 1rem 0;
}

img {
  height: 100%;
}
