<!-- <div class="container">
  <div class="header-div"></div>
  <div class="clock-container">
    <app-clock></app-clock>
  </div>
  <div class="footer-img">
    <img src="assets/img/round_logo-512x512.png" alt="Logo" />
  </div>
</div> -->

<div class="container">
  <div class="header-div"></div>
  <div class="clock-container">
    <!-- <div class="full-background-image">
      <img src="assets/img/round_logo-512x512.png" alt="Logo" />
    </div> -->
    <app-clock></app-clock>
  </div>
  <div class="footer-img"></div>
</div>
